<div class="large 12-columns">
	<button class="medium success button right">
		<a href="#/create_board">+ Add new board</a>
	</button>
	<h2>Boards</h2>

	<ul ng-repeat="b in boards">
		<div class="panel">
			<button class="medium success button">
				<a href="#/lists/{{b.id}}">{{b.name}}</a>
			</button>
			<div>
				<button class="medium secondary button">
					<a href="#/update_board/{{b.id}}">Modify</a>
				</button>
				<button class="medium alert button">
					<a href="#/delete_board/{{b.id}}">Delete</a>
				</button>
			</div>
	</ul>
</div>
</div>