<div class="large 12-columns">

	<button class="medium success button right">
		<a href="#/create_card">+ Add new card</a>
	</button>
	<h2>Cards</h2>
	<ul ng-repeat="b in cards">
		<div class="panel">
			<li class="callout panel">{{b.name}}</li>
			<div>
				<button class="medium secondary button">
					<a href="#/update_card/{{b.id}}">Modify</a>
				</button>
				<button class="medium alert button">
					<a href="#/delete_card/{{b.id}}">Delete</a>
				</button>
			</div>
	</ul>
</div>
</div>