<div class="large 12-columns">
	<div class="panel left">
		<div class="large-12 columns">New card name</div>
		<div class="large-4 medium-4 columns">
			<input type="text" ng-model="name" placeholder="Black lotus" required>
		</div>
		<div class="large-12 columns">
			<button ng-click="Add();">Hit it Gandalf</button>
			{{n}}
		</div>
	</div>
</div>