<div class="large 12-columns">
	<div class="panel left">
		<div class="large-12 columns">New list name</div>
		<div class="large-4 medium-4 columns">
			<input type="text" ng-model="name" placeholder="Name your list here" required>
		</div>
		<div class="large-12 columns">
			<button ng-click="Add();">Hit it Gandalf</button>
		</div>
	</div>
</div>