<div class="large 12-columns">
	<div class="panel left">
		<h5 class="large-12 columns">We require more vespene gas... I
			mean! Your confirmation</h5>
		<div class="large-12 columns">
			<button class="medium secondary button"ng-click="Del();">Yes, delete this</button>
			<button class="medium alert button" ><a href="#/lists/{{b}}">Don't do it</a></button>
		</div>
	</div>
</div>