<div class="large 12-columns">
	<button class="medium success button right">
		<a href="#/create_list">+ Add new list</a>
	</button>
	<h2>Lists</h2>
	<div class="panel" ng-repeat="b in lists">
		<button class="medium success button"">
			<li><a href="#/cards/{{b.id}}">{{b.name}}</a></li>
		</button>
		<div>
			<button class="medium secondary button">
				<a href="#/update_list/{{b.id}}">Modify</a>
			</button>
			<button class="medium alert button">
				<a href="#/delete_list/{{b.id}}">Delete</a>
			</button>
		</div>

	</div>
</div>