<div class="large 12-columns">
<div class = "panel left">
	<div class="large-12 columns">User</div>
	<div class="large-4 medium-4 columns">
		<input type="text" ng-model="username" placeholder="Username">
	</div>
	<div class="large-12 columns">Password</div>
	<div class="large-4 medium-4 columns">
		<input type="password" ng-model="password">
	</div>
	<div class ="large-12 columns" >
	<button ng-click="Auth();">Go</button>
	</div>
	</div>
</div>
