<div class="large 12-columns">
	<div class="panel left">
		<div class="large-12 columns">New name for the card. Leave the name empty if you just want to move</div>
		<div class="large-12 medium-12 columns">
			<input type="text" ng-model="name" placeholder="Leave this empty if you just want to move it" required>
		</div>
		<div class="float">
		<div class="large-12 columns">Select "Move to..." if you only want to change the name</div>
			<select class="small-12" ng-model="list_d" ng-options="o.id as o.name for o in listas">
			<option label="Move to..." value=""></option>
			</select>
		</div>
		<div class="large-12 columns">
			<button ng-click="Upd();">Hit it Gandalf</button>
			{{n}}
		</div>
		
	</div>
</div>