<div class="large 12-columns">
	<div class="panel left">
		<div class="large-12 columns">New name for the board</div>
		<div class="large-4 medium-4 columns">
			<input type="text" ng-model="name" placeholder="New board name" required>
		</div>
		<div class="large-12 columns">
			<button ng-click="Upd();">Hit it Gandalf</button>
			{{n}}
		</div>
		
	</div>
</div>