body{
	padding: 0 0 30px;
	margin: 0;
	background: #aaa;
	position: relative;
	height: 100%;
	color: #eee;
	min-height: 650px;
	font-family: georgia, times, "times new roman", serif;
	color: #A99877;
}
h1, h2, h3, h4, h4, h5, h6, p, div, ul, li{
	margin: 0;
	padding: 0;
	line-height: 120%;
	list-style: none;
}
a, a:hover{
	text-decoration: none
}
label{
	display: block;
}
#header{
	background: #555555;
	border-top: 1px solid #292929;
	border-bottom: 1px solid #292929;
	padding: 5px
}
#header a{
	color: #D96500;
	text-shadow: 1px 1px 3px black;
}
#header h1{
	float: left;
}
#header .region{
	float: right;
}
#header .region a{
	float: left;
	margin: 10px 0 0 10px;
}
#header .region a:hover{
	text-decoration: underline;
}
.main, #header > div, #footer >div{
	width: 960px;
	margin: 0 auto;
	display: table;
}
.dalogin{
	width: 550px;
	margin: 50px auto 30px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0 0 5px 3px #666;
	padding: 15px;
	background-color: #221F1A;
	color: #F3E6D0;
}
.dalogin p{
	margin: 3px 0;
}
.dalogin .login{
	display: inline-block;
	width: 100%;
}
.dalogin .login > div{
	float: left;
	margin: 5px 10px 0 0;
}
.dalogin a, .dat_ul > li a, input[type="submit"], .da_card a{
	color: white;
	text-shadow: 1px 1px 1px black;
	display: inline-block;
	padding: 5px 10px;
	margin: 10px 0 0;
	border-radius: 5px;
	border: 1px solid #fff;	
	background: #d68400; /* Old browsers */
	background: -moz-linear-gradient(top,  #d68400 0%, #d96500 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d68400), color-stop(100%,#d96500)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d68400 0%,#d96500 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d68400 0%,#d96500 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d68400 0%,#d96500 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d68400 0%,#d96500 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d68400', endColorstr='#d96500',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}
.dalogin a:hover, .dat_ul > li a:hover, input[type="submit"]:hover, .da_card a:hover{
	background: #d96500; /* Old browsers */
	background: -moz-linear-gradient(top,  #d96500 0%, #d68400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d96500), color-stop(100%,#d68400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d96500 0%,#d68400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d96500 0%,#d68400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d96500 0%,#d68400 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d96500 0%,#d68400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d96500', endColorstr='#d68400',GradientType=0 ); /* IE6-9 */
}
.dalogin .login p{
	margin: 12px 0 2px;
	font-size: 12px;
}
.dalogin form > div{
	margin: 10px 0 0;
}
.dalogin form{
	display: table
}
.dalogin form input[type="submit"]{
	margin: 10px 0 0;
}
.dat_ul{
	width: 100%;
	display: table;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px 2%
}
.dat_ul > li{
	float: left;
	width: 28%;
	margin: 15px 0 0;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0 0 5px 3px #666;
	padding: 15px;
	background-color: #221F1A;
	color: #F3E6D0;
}
.dat_ul > li p{
	margin: 0;
}
.dat_ul > li .board_name, .list-name, .card-name{
	background: none;
	border: none;
	color: #D96500;
	text-transform: uppercase;
	padding: 0;
	font-size: 20px;
	margin: 0;
}

.card-name{
	font-size:15px;
	color:white;
}
.dat_ul > li .board_name:hover{
	background: none;
	padding: 0;
	border: none;
}
.dat_ul > li:nth-child(3n+2){
	margin: 15px 2% 0;
}
.da_card{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 5px;
	background: #666;
	color: #D96500;
	margin: 10px 0 0;
}
.da_card select{
	
}
#footer{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: #444;
	color: #eee;
	width: 100%;
	display: table;
}
#footer > div{
	line-height: 120%;
	padding: 5px 10px;
}